body{
  background-color: rgb(223,212,209);
  display:flex;
  justify-content:center;
  align-items:center;
  transform:translateY(25vh);
  flex-direction:column;
  font-family:"Roboto Mono", monospace;
  margin-top:-15vh;
}

h1{
  font-family: Rubik;
  color:#E34E45;
}

h3{
  color:#E34E45;
  margin-top: 35px;
}

.tables{
  background-color: white;
  width:375px;
  margin-top:8vh;
  padding-top: 30px;
  height:400px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  text-align:center;
  z-index:2;
}



input{
  display:block;
  border:none;
  border-bottom:solid;
  width:350px;
  border-color:#EEE;
  border-width:1px;
  margin-top:50px;
}


button{
  background-color:#008000;
  color:white;
  font-weight:lighter;
  width:350px;
  margin-top:30px;
  height:40px;
  border:none;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

img{
  float:right;
  margin-right:-10px;
  margin-top: 10px;
}
.prompt{
  display:none;
  flex-direction:column;
  z-index:2;
  width:400px;
  height:400px;
  margin-top:-45vh;
  background-color: white;
  align-items:center;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

.available:hover{
  transition: .5s ease;
  background-color: #008CBA;
}

.circle{
  background-color:#EEE;
  width:90px;
  height:90px;
  margin:5px;
  line-height: 90px;
  border-radius:200px;
  color:#ADAAAA;
}

.reserved{
  background-color:#ADAAAA;
  font-size: 12px;
  cursor:not-allowed;
  color: #EEE;

}
.reserved:hover{
  background-color: #d63353;
}

.hovering{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}

.reserved:hover span{
    display:block;
    position: relative;
}

.hovering:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    transform:rotate(45deg);
    font-size: 10px;
}
